{% extends "base.html" %}
{% block title %}Login - LearnByTech{% endblock %}
{% block content %}
<h1>LOGIN</h1>
<form method="POST" action="{{ url_for('login') }}">
    <p>
        <label>Username</label>
        <input type="text" name="username" required>
    </p>
    <p>
        <label>Password</label>
        <input type="password" name="password" required>
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
</form>
    <p>
        Don't have an account? <a href="{{ url_for('register') }}">Register</a>
    </p>
{% endblock %}