{% extends "base.html" %}
{%block title %}Users-LearnByTech{% endblock %}
{% block content %}
<h1>Users</h1>
{% if users %}
<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{{ url_for('user_detail',id=user.id) }}">{{ user.username }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.role}}</td>
            <td>
                <a href="{{ url_for('edit_user',id=user.id) }}">Edit_user</a> |
                <a href="{{ url_for('delete_user',id=user.id) }}" onclick="return confirm('are you sure')">Delete_user</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No users found. <a href="{{ url_for('register')}}">Register</a> </p>
{% endif %}
{% endblock %}
