{% extends "base.html" %}
{% block title %}Edit {{user.username}} - LearnByTech{% endblock %}
{% block content %}
<h1>Edit user</h1>

<form method="post" action="{{url_for('edit_user', id=user.id)}}">
    <p>
        <label>Username:</label><br>
        <input type="text" name="username" value="{{user.username}}" required>
    </p>

    <p>
        <label>Email:</label><br>
        <input type="email" name="email" value="{{user.email}}" required>
    </p>

    <p>
        <label>Password:</label><br>
        <input type="password" name="password" placeholder="enter a new password" required>
    </p>

    <p>
        <label>Role:</label><br>
        <select name="role" required>
            <option value="student" {% if user.role =='student'%} selected {% endif%}>Student</option>
            <option value="teacher" {% if user.role =='teacher'%} selected {% endif%}>Teacher</option>
        </select>
    </p>
    <button type="submit">Update user</button>
</form>
<p><a href="{{url_for('list_users')}}">Back to user</a> | <a href="{{url_for('user_detail', id=user.id)}}">Cancel</a></p>
{% endblock %}