{% extends "base.html" %}
{%block title %}{{user.username}}-LearnByTech{% endblock %}
{% block content %}
<h1>User details</h1>
<table border="1" cellpadding="8">
    
        <tr>
            <th>ID</th>
            <td>{{user.id}}</td>
        </tr>

        <tr>
            <th>Username</th>
            <td>{{user.username}}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>

        <tr>
            <th>Role</th>
            <td>{{user.role}}</td>
        </tr>

        <tr>
            <th>Created at</th>
            <td>{{user.created_at}}</td>
        </tr>
</table>

<p><a href="{{url_for('list_users')}}">Back to user</a> | 
    <a href="{{ url_for('edit_user', id=user.id)}}">Edit</a>|
    <a href="{{ url_for('delete_user',id=user.id) }}" onclick="return confirm('are you sure')">Delete_user</a>
</p>
{% endblock %}